langchain
langchain-text-splitters
langchain-community
bs4
langchain[google-genai]
langchain-google-genai
langchain-milvus
langchain-docling
unstructured[all-docs]
langchain-ollama
langchain-chroma
streamlit
fastapi
uvicorn[standard]
python-multipart
requests
docx2txt
pypdf